<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="temp/internal-nlog.txt">

  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="allfile" fileName="logs/nlog-all-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />


    <target xsi:type="File" name="ownFile-web" fileName="logs/nlog-own-${shortdate}.log"
             layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|  ${message} ${exception}" />

    <target xsi:type="Null" name="blackhole" />

    <!-- <target xsi:type="Syslog" name="syslog5424-tgt">
      <layout xsi:type="SimpleLayout" text="${message}${exception:format=ToString,StackTrace}" />
      <enforcement>
        <splitOnNewLine>false</splitOnNewLine>
        <transliterate>false</transliterate>
        <replaceInvalidCharacters>false</replaceInvalidCharacters>
        <truncateFieldsToMaxLength>true</truncateFieldsToMaxLength>
        <truncateMessageTo>1024</truncateMessageTo>
      </enforcement>
      <messageCreation>
        <facility>Local0</facility>
        <rfc>Rfc5424</rfc>
        <rfc5424 hostname="${machinename}" appName="${logger}" procId="${processid}">
          <disableBom>false</disableBom>
        </rfc5424>
      </messageCreation>
      <messageSend>
        <protocol>UDP</protocol>
        <udp>
          <server>185.20.163.146</server>
          <port>8514</port>
        </udp>
      </messageSend>
    </target> -->

  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->

    <!--Skip Microsoft logs and so log only own logs-->
    <!--<logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />-->
    <logger name="*" minlevel="Info" writeTo="ownFile-web" />

  </rules>
</nlog>